.container {
	max-width: 1200px;
	margin: auto;
	padding: 0 15px;
	width: 100%;
}

@media only screen and (max-width:1280px) {
	.container {
		max-width: 1140px;
	}
}

.pad-5 {
	padding: 5px;
}
.pad-10 {
	padding: 10px;
}
.pad-15 {
	padding: 15px;
}
.pad-20 {
	padding: 20px;
}
.pt-20 {
	padding-top: 20px;
	display: block;
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	/* justify-content: space-between; */
	width: 100%;
}

.flex-wrap {
	flex-wrap: wrap;
}

.justify-center {
	justify-content: center;
}

.justify-space-btwn {
	justify-content: space-between;
}

.justify-start {
	justify-content: flex-start;
}

.justify-end {
	justify-content: flex-end;
}

.align-center {
	align-items: center;
}

.col {
	padding: 0 10px;
	min-height: 1px;
}

.col-1 {
	width: calc(8.33333%*1);
}

.col-2 {
	width: calc(8.33333%*2);
}

.col-3 {
	width: calc(8.33333%*3);
}

.col-4 {
	width: calc(8.33333%*4);
}

.col-5 {
	width: calc(8.33333%*5);
}

.col-6 {
	width: calc(8.33333%*6);
}

.col-7 {
	width: calc(8.33333%*7);
}

.col-8 {
	width: calc(8.33333%*8);
}

.col-9 {
	width: calc(8.33333%*9);
}

.col-10 {
	width: calc(8.33333%*10);
}

.col-11 {
	width: calc(8.33333%*11);
}

.col-12 {
	width: calc(8.33333%*12);
}


@media only screen and (max-width:768px) {

	[class*=col-] {
		width: 50%;
	}
}

@media only screen and (max-width:480px) {

	[class*=col-] {
		width: 100%;
	}

	.col-6.sm,
	.col-12.sm,
	.col-11.sm,
	.col-10.sm,
	.col-9.sm,
	.col-8.sm,
	.col-7.sm,
	.col-5.sm,
	.col-4.sm,
	.col-3.sm,
	.col-2.sm,
	.col-1.sm {
		width: 100%;
	}
}



@media only screen and (max-width:640px) {

	.col-6.sm,
	.col-12.sm,
	.col-11.sm,
	.col-10.sm,
	.col-9.sm,
	.col-8.sm,
	.col-7.sm,
	.col-5.sm,
	.col-4.sm,
	.col-3.sm,
	.col-2.sm,
	.col-1.sm {
		width: 50%;
	}
}
